<ion-navbar>

    <button ion-button menuToggle="menu-usuario">
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>

        <ion-item detail-none no-lines color="transparent" *ngIf="usuario; else tituloTemplate">
            <ion-avatar item-end>
                <img [src]="usuario.foto || 'assets/images/no-photo.jpg'">
            </ion-avatar>
            {{ titulo }}
        </ion-item>

        <ng-template #tituloTemplate>
            {{ titulo }}
        </ng-template>
        
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="onLogout()">
            <ion-icon name="exit"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>