<ion-header>

    <custom-header-logado [titulo]="view | capitalize:true"></custom-header-logado>

    <ion-toolbar>
        <ion-segment [(ngModel)]="view">
            <ion-segment-button value="chats">
                Chats
            </ion-segment-button>
            <ion-segment-button value="usuarios">
                Usuários
            </ion-segment-button>            
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content padding>

    <div [ngSwitch]="view">
        <ion-list no-lines *ngSwitchCase="'chats'">
            <button ion-item *ngFor="let chat of chats | async">
                <h2>{{chat.titulo}}</h2>
                <p *ngIf="chat.ultimaMensagem; else mensagemCustom">{{chat.timestamp | date: 'dd/MM/yyyy H:mm' }} - {{chat.ultimaMensagem}}</p>
                <ng-template #mensagemCustom>
                    <p>Nenhuma mensagem</p>
                </ng-template>
            </button>
        </ion-list>

        <ion-list no-lines *ngSwitchCase="'usuarios'">
            <button ion-item *ngFor="let usuario of usuarios | async" (click)="abrirChat(usuario)">
                {{usuario.nome}}
            </button>
        </ion-list>
    </div>

</ion-content>
